%h2 add new site?
%br
%h4 please input RSS feed URL

= form_for @feed do |f|
  = f.text_field :url
  = f.submit
%br
%button{:type => "button", :class => "btn btn-primary"}= link_to "cancel", feeds_path
