%body
  .panel.panel-warning
    .panel-heading
      %h3.panel-title= @item.title
    .panel-body
      %h4= strip_tags(@item.body)
      %button{:type => "button", :class => "btn btn-primary btn-sm"}= link_to "see origin site", @item.url
      %button{:type => "button", :class => "btn btn-primary btn-sm"}= link_to "return", feeds_path
