%h1 about Yochiyochi-yomyom
%p よちよち.rbのメンバーのブログを一覧できるところがあればうれしいなと思ってつくりました。
%hr

%h2 how to add new blog
%p 現在、自由にブログを追加することができません。
%p
  ブログURLを
  %a{:href => "https://www.twitter.com/katorie", :target => "_blank"}> @katorie
  までご連絡ください。
%hr

%h2 what is よちよち.rb
%p 毎週月曜日の夜20時〜22時に東京都内のどこかで活動している、初心者による初心者のためのコミュニティです。
%p おもにRuby on Railsとその周辺の技術について学んでいます。
%p プログラミング経験2年以内の方を対象としておりますので、ご注意ください。
%p
  主催者は 
  %a{:href => "https://www.twitter.com/yucao25hours", :target => "_blank"}> @yucao24hours
  (ゆかおさん)です。
%p
  詳しくは、
  %a{:href => "https://www.facebook.com/groups/576966389063750/", :target => "_blank"}> Facebookグループ
  か、
  %a{:href => "http://yochiyochirb.doorkeeper.jp/", :target => "_blank"}> Doorkeeper
  などをチェックしてみてください。
%hr

%h2 fork me on GitHub!
%p Yochiyochi-yomyomのソースコードはGitHubで管理しています。
%p
  %a{:href => "https://www.twitter.com/katorie", :target => "_blank"}> @katorie
  が
  %a{:href => "https://www.facebook.com/groups/113145785502645/", :target => "_blank"}> RailsGirlsTokyo,more!
  という勉強会でコーチに教えていただきながらつくりました。まだまだ
  %a{:href => "https://github.com/katorie/rss_reader", :target => "_blank"}> 開発途中
  です。
